
<div>
  <form>

  <div class="modal fade" id="passModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Password</h4>
        </div>
        <div class="modal-body">
          <input type='text' ng-model='$parent.newPassword'>
          <button ng-click='submitPassword()' class="btn btn-default">Change</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-info" ng-click='closeEditUser()'>Done</button>
    <button class="btn btn-info" ng-click='saveEdit()'>Save</button>
  </div>
  <table>
  <tr>
    <td>User name:</td>
    <td><input type='text' ng-model='$parent.editUser.username'></td>
    <td>
      <button class="btn btn-info" data-toggle="modal" data-target="#passModal">Change Password</button>
    </td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><input type='text' ng-model='$parent.editUser.email'></td>
    <td></td>
  </tr>
  <tr>
    <td>Name:</td>
    <td><input type='text' ng-model='$parent.editUser.name'></td>
    <td></td>
  </tr>

<!--
  <table><tr>
    <td>Add Track to User:</td>
    <td><select ng-model="trackToAdd" ng-options="d.id as d.track_name for d in trackList | orderBy : 'track_name'"></select>
    <td><button ng-click='addTrackToUser();'>Add Track</button></td>
    <td>&nbsp;|&nbsp;</td>
    <td>Add Access Group to User:</td>
    <td><select ng-model="groupToAdd" ng-options="d.id as d.access_group for d in groupList | orderBy : 'group'"></select>
    <td><button ng-click='addGroupToUser();'>Add Group</button></td>
  </tr></table>
-->

  <tr>
    <td valign=top>Tracks</td>
    <td colspan=2>
      <div class='gridStyle' ng-grid='$parent.trackGrid' ui-grid-auto-resize ng-style="getTrackTableHeight()"> </div>
    </td>
  </tr>
  <tr><td colspan=3><hr></td></tr>
  <tr>
    <td valign=top>Groups</td>
    <td colspan=2>
      <div class='gridStyle' ng-grid='$parent.groupGrid' ui-grid-auto-resize ng-style="getGroupTableHeight()"> </div>
    </td>
  </tr>
  </table>
  </form>
</div>


